<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Algorithms Prompt1</title>
    <link rel = "stylesheet" href = "/styles/promptPages.css">
</head>
<body>
    <main class = "prompt other-algorithms">
        <section class = "header">
            <div class = "links-container">
                <span><a href = "/">Homepage</a></span>
                <span> | </span>
                <span><a href = "/other-algorithms/">Other Algorithms Index</a></span>
            </div>
            <div class = "title-topic-description-container">
                <div class = "title"> <%= otherAlgorithm.title %> </div>
                <div class = "topic"> <%= otherAlgorithm.topic %> </div>
                <div class = "description"> <%= otherAlgorithm.description %> </div>
            </div>
        </section>
        <section class = "work-space">
            <span class = "visualizer-span"> Visualizer Area </span>
            <span class = "code-block-span">

                <% for (let i = 0; i < otherAlgorithm.solution.length; i++){ %>
                    <div class = "scriptLines"> 
                        <%= otherAlgorithm.solution[i] %>
                    </div>    
                <% } %> 

            </span>
        </section>
    </main>
</body>
</html>