<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithms Playground</title>
    <link rel = "stylesheet" href = "/styles/homepageStyles.css">
</head>
<body>
    <main class = "homepage-container">
        <section class = "header">
            <div class = "signature">Andrew R. Bader GA SEI 321</div>
            <h1 class = "title">
                Algorithms Playground Homepage!
            </h1>
        </section>
        <section class = "index-link-buttons">
            <div class = "arrays-strings button">
                <a href = "/arrays-strings/"><button id = "arrays-strings">Arrays and Strings</button></a>
            </div>
            <div class = "linked-lists button">
                <a href = "/linked-lists/"><button id = "linked-lists">Linked Lists</button></a>
            </div>
            <div class = "trees-graphs button">
                <a href = "/trees-graphs/"><button id = "trees-graphs">Trees and Graphs</button></a>
            </div>
            <div class = "stacks-queues button">
                <a href = "/stacks-queues/"><button id = "stacks-queues">Stacks and Queues</button></a>
            </div>
            <div class = "recursion button">
                <a href = "/recursion/"><button id = "recursion">Recursion</button></a>
            </div>
            <div class = "other-algorithms button">
                <a href = "/other-algorithms/"><button id = "other-algorithms">Other Algorithms</button></a>
            </div>
        </section>
    </main> 
</body>
</html>