<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithms Playground</title>
</head>
<body>
    <section class = "title">
        <h1>Algorithms Playground Homepage!</h1>
    </section>
    <section class = "index-link-buttons">
        <div class = "arrays-strings-container">
            <a href = "/arrays-strings/"><button>Arrays and Strings</button></a>
        </div>
        <div class = "linked-lists">
            <a href = "/linked-lists/"><button>Linked Lists</button></a>
        </div>
        <div class = "trees-graphs">
            <a href = "/trees-graphs/"><button>Trees and Graphs</button></a>
        </div>
        <div class = "stacks-queues">
            <a href = "/stacks-queues/"><button>Stacks and Queues</button></a>
        </div>
        <div class = "recursion">
            <a href = "/recursion/"><button>Recursion</button></a>
        </div>
        <div class = "pathfinder-special">
            <a href = "/pathfinder-special/"><button>Pathfinder/Special Algorithms</button></a>
        </div>
    </section>
</body>
</html>