<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linked Lists Prompt 1</title>
    <link rel = "stylesheet" href = "/styles/promptPages.css">
</head>
<body>
    <main class = "prompt linked-lists">
        <section class = "header">
            <div class = "links-container">
                <span><a href = "/">Homepage</a></span>
                <span><a href = "/linked-lists/">Linked Lists Index</a></span>
            </div>
            <div class = "title-topic-description-container">
                <div> Prompt 1 for Linked Lists </div>
                <div> Topic </div>
                <div> Short Description </div>
            </div>
        </section>
        <section class = "work-space">
            <span class = "visualizer-span"> Visualizer Area </span>
            <span class = "code-block-span"> Code Block Div </span>
        </section>
    </main>
</body>
</html>