/* styles for the prompt show pages */

body {
    background-color: lightgray;
}

.prompt {
    border-style: solid;
    height: 800px;
}

.arrays-strings{
    background-color: aqua;
}

.linked-lists {
    background-color: greenyellow;
}

.other-algorithms {
    background-color: rgb(255, 47, 206);
}

.recursion {
    background-color: rgb(47, 255, 47);
}

.stacks-queues {
    background-color: rgb(255, 47, 61);
}

.trees-graphs {
    background-color: rgb(154, 83, 221);
}

.header{
    border-style: solid;
    background-color: bisque;
    width: 98.5%;
    margin: auto;
    margin-top: 5px;
    height: 20%;
}

.links-container{
    padding-top: 2px;
    padding-left: 2px;
}

.title-topic-description-container{
    height:80%;
}

.title {
    height: 20%;
    text-align: center;
    font-size: 20px;
}

.topic {
    height: 15%;
    text-align: center;
    font-size: 17px;
}

.description {
    background-color: aliceblue;
    border-style: solid;
    height: 60%;
    width: 98%;
    margin: auto;
    margin-top: 2px;
    padding-left: 1px;
    padding-right: 2px;
    font-size: 16px;
    overflow-wrap: break-word;
    overflow: scroll;
}

.work-space{
    display: flex;
    justify-content: center;
    width: 99%;
    margin: auto;
    margin-top: 5px;
    height: 75%;
}

.visualizer-span {
    border-style: solid;
    width: 50%;
    background-color: lavender;
}

.code-block-span {
    border-style: solid;
    width: 50%;
    background-color:lightgrey;
}