/* styles for the prompt show pages */

.prompt {
    border-style: solid;
    height: 800px;
}

.arrays-strings{
    background-color: aqua;
}

.header{
    border-style: solid;
    width: 99%;
    margin: auto;
    margin-top: 5px;
    height: 20%;
}

.work-space{
    border-style: solid;
    width: 99%;
    margin: auto;
    margin-top: 5px;
    height: 75%;
}