/* styles for the prompt show pages */

.prompt {
    border-style: solid;
    height: 800px;
}

.arrays-strings{
    background-color: aqua;
}

.linked-lists {
    background-color: greenyellow;
}

.other-algorithms {
    background-color: rgb(255, 47, 206);
}

.recursion {
    background-color: rgb(255, 189, 47);
}

.header{
    border-style: solid;
    width: 98.5%;
    margin: auto;
    margin-top: 5px;
    height: 20%;
}

.work-space{
    display: flex;
    justify-content: center;
    width: 99%;
    margin: auto;
    margin-top: 5px;
    height: 75%;
}

.visualizer-span {
    border-style: solid;
    width: 50%;
}

.code-block-span {
    border-style: solid;
    width: 50%;
}