/* main html styles */
body {
    margin: auto;
    margin-top: 10px;
    width:80%;
    height: 80%;
    padding: 10px;
    border-style: solid;
}

.title{
    text-align: center;
    border-style:solid;
    background-color: lightgoldenrodyellow;
    font-size:30px;
    padding-bottom: 10px;
    height: 30px;
    margin-top:0px;
}

.prompts-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    margin:auto;        
    margin-top:5px;
    width:90%;
    min-height: 600px;
    border-style:solid;
    background-color:rgb(108, 121, 195);
    overflow:scroll;
}

.prompt-container{
    margin-top: 1;
    border-style:solid;
    width:19.2%;
    height:100px;
}

button {
    width:100%;
    height:100%;
    border-style:solid; 
}

/* arrays and strings index page styles */
.array-strings-index{
    width: 100%;
    height: 100%;
    background-color: rgb(240, 255, 241);
}

/* linked lists index page styles */
.linked-lists-index{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 253, 240);
}

/* pathfinder special algorithms index page styles */
.pathfider-special-index{
    width: 100%;
    height: 100%;
    background-color: rgb(240, 255, 247);
}

/* recursion algorithms index page styles */
.recursion-index{
    width: 100%;
    height: 100%;
    background-color: rgb(138, 187, 40);
}

/* stacks and queues index page styles */
.stacks-queues-index{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 252, 240);
}

/* trees and graphs index page styles */
.trees-graphs-index{
    width: 100%;
    height: 100%;
    background-color: azure;
}



