/* topic index page styles */

body {
    background-color: lightgray;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    height: 80%;
    border-style: solid;
}

main {
    width:100%;
    height:100%;
    margin:auto;
    padding-bottom:5px;
}

.links {
    padding-left: 2px;
    padding-top: 1px;
}

.title {
    text-align: center;
    border-style: solid;
    width: 99%;
    margin: auto;
    background-color: lightgoldenrodyellow;
    font-size: 30px;
    padding-bottom: 10px;
    height: 30px;
    margin-top: 0px;
}

.prompts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    margin: auto;        
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 90%;
    min-height: 600px;
    border-style: solid;
    background-color: rgb(108, 121, 195);
    overflow: scroll;
}

.prompt-container {
    margin-top: 1;
    border-style: solid;
    width: 19.2%;
    height: 100px;
}

button {
    width: 100%;
    height: 100%;
    border-style: solid; 
    overflow-wrap: break-word;
    overflow: scroll;
    font-size: 30px;
}

/* arrays and strings index page styles */
.array-strings-index {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

/* linked lists index page styles */
.linked-lists-index {
    width: 100%;
    height: 100%;
    background-color: greenyellow;
}

/* pathfinder special algorithms index page styles */
.other-algorithms-index {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 47, 206);
}

/* recursion algorithms index page styles */
.recursion-index {
    width: 100%;
    height: 100%;
    background-color: rgb(47, 255, 47);
}

/* stacks and queues index page styles */
.stacks-queues-index {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 47, 61);
}

/* trees and graphs index page styles */
.trees-graphs-index {
    width: 100%;
    height: 100%;
    background-color: rgb(154, 83, 221);
}