<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linked-Linked-Index</title>
    <link rel = "stylesheet" href = "/styles/topicIndexPageStyles.css">
</head>
<body>
    <main class = "linked-lists-index">
        <div class = "links"><a href = "/">Homepage</a></div>
        <div class = "title">Linked List Index Page</div>
        <section class = "prompts-container">
            <div class = "prompt-container">
                <% for (let i = 0; i < linked_lists.length; i++){ %>
                    <a class="prompt-link" href = "/linked-lists/<%=linked_lists[i]._id%>/">
                        <button>
                            <%= linked_lists[i].title %>
                        </button>
                    </a>
                <% } %>
            </div>
        </section>
    </main>
</body>
</html>