<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other-Algorithms-Index</title>
    <link rel = "stylesheet" href = "/styles/topicIndexPageStyles.css">
</head>
<body>
    <main class = "other-algorithms-index">
        <div class = "links"><a href = "/">Homepage</a></div>
        <div class = "title">Other Algorithms Index Page</div>
        <section class = "prompts-container">

            <div class = "prompt-container">
                <% for (let i = 0; i < other_algorithms.length; i++){ %>
                    <a class="prompt-link" href = "/other-algorithms/<%=other_algorithms[i]._id%>/">
                        <button>
                            <%= other_algorithms[i].title %>
                        </button>
                    </a>
                <% } %>
            </div>

        </section>
    </main>
</body>
</html>