<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/indexPagesPartials/head.ejs',{ pageName :  "Recursion-Index" }) %>

<body>
    <main class = "recursion-index">
        <div class = "links"><a href = "/">Homepage</a></div>
        <div class = "title">Recursion Index Page</div>
        <section class = "prompts-section">
            <div class = "prompts-container"> 
                <% for (let i = 0; i < recursion.length; i++){ %>
                    <div class = "prompt-container">
                        <a class="prompt-link" href = "/recursion/<%=recursion[i]._id%>/">
                            <button>
                                <%= recursion[i].title %>
                            </button>
                        </a>
                    </div>
                <% } %>
            </div>
        </section>
    </main>
</body>
</html>