<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/indexPagesPartials/head.ejs',{ pageName :  "Stacks-Queues-Index" }) %>

<body>
    <main class = "stacks-queues-index">
        <div class = "links"><a href = "/">Homepage</a></div>
        <div class = "title">Stacks and Queues Index Page</div>
        <section class = "prompts-section">
            <div class = "prompts-container">  
                <% for (let i = 0; i < stacks_queues.length; i++){ %>
                    <div class = "prompt-container">
                        <a class="prompt-link" href = "/stacks-queues/<%=stacks_queues[i]._id%>/">
                            <button>
                                <%= stacks_queues[i].title %>
                            </button>
                        </a>
                    </div>
                <% } %>
            </div>
        </section>
    </main>
</body>
</html>