<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trees-Graphs-Index</title>
    <link rel = "stylesheet" href = "/styles/topicIndexPageStyles.css">
</head>
<body>
    <main class = "trees-graphs-index">
        <div class = "links"><a href = "/">Homepage</a></div>
        <div class = "title">Trees and Graphs Index Page</div>
        <section class = "prompts-section">
            <div class = "prompts-container"> 
                <% for (let i = 0; i < trees_graphs.length; i++){ %>
                    <div class = "prompt-container">
                        <a class="prompt-link" href = "/trees-graphs/<%=trees_graphs[i]._id%>/">
                            <button>
                                <%= trees_graphs[i].title %>
                            </button>
                        </a>
                    </div>
                <% } %>
            </div>
        </section>
    </main>
</body>
</html>